body {
  font-family: "Segoe UI", sans-serif;
  background-color: #fffafc;
  color: #333;
  text-align: center;
  padding: 2em;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* モバイル時に縦並びにしたい場合 */
}

.Flex {
  display: flex;
}
.flex-direction {
  display: flex;
  flex-direction: column;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

@font-face {
  font-family: 'KeiFont';
  src: url('fonts/keifont.ttf') format('truetype');
}

h1 {
  font-size: 2em;
  /*font-family: 'KeiFont', sans-serif;*/
  margin-bottom: 1em;
}

h2 {
  font-size: 2em;
  font-family: 'KeiFont', sans-serif;
  margin-bottom: 1em;
}

.voice-btn {
  font-family: 'KeiFont', sans-serif;
  font-size: 1.2em;
  padding: 1em 2em;
  border: none;
  border-radius: 12px;
  background-color: #ff90c2;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.voice-btn:hover {
  background-color: #ff6ca0;
}



.Profile-Icon {

  width: 75px;
  height: 75px;
/*
  justify-content: center;
  align-items: center;
*/
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.header-text {
  font-family: 'KeiFont', sans-serif;
  font-size: 1.2em;
  
  padding: 1% 2em;
  
  text-align: center;
}

.Youtube-Page {
  font-family: 'KeiFont', sans-serif;
  font-size: 1.2em;
  padding: 1em 2em;
  border: none;
  border-radius: 12px;
  background-color: #ff90c2;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.Twitter-Page {
  font-family: 'KeiFont', sans-serif;
  font-size: 1.2em; 
  padding: 1em 2em;
  border: none;
  border-radius: 12px;
  background-color: #ff90c2;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.Creatia-Page {
  font-family: 'KeiFont', sans-serif;
  font-size: 1.2em;
  padding: 1% 1%;
  border: none;
  border-radius: 12px;
  background-color: #ff90c2;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.booth-Page {
  font-family: 'KeiFont', sans-serif;
  font-size: 1.2em;
  padding: 1% 1%;
  border: none;
  border-radius: 12px;
  background-color: #ff90c2;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.page-block {
  flex: 1 1 0;  /* 均等に幅を分配する */
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  min-width: 0; /* はみ出し対策 */
  padding: 1em;
  box-sizing: border-box;
}

#scrollTop {
    background-color: #0028f1;
    border: 1px solid #0028f1;
    border-radius: 20px;
    padding: 10px;
    position: fixed;
    bottom: 25px;
    right:25px;
}

#scrollTop a {
    color: #fff;
    text-decoration: none;
}
